<div class="updateAliment">
    <p>adauga-aliment works!</p>


    <form [formGroup]="ProdusForm">
        <div class="container">
            <div class="primele4">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Nume</mat-label>
                        <input matInput formControlName="Nume" placeholder="Introduceți numele ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Proteine</mat-label>
                        <input matInput formControlName="proteine" placeholder="Proteine ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Carbohidrati</mat-label>
                        <input matInput type="number" formControlName="carbohidrati" placeholder="Carbohidrati ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Grasimi</mat-label>
                        <input matInput type="number" formControlName="grasimi" placeholder="Grasimi ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Zahar</mat-label>
                        <input matInput type="number" formControlName="zahar" placeholder="Zahar ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Calorii</mat-label>
                        <input matInput type="number" formControlName="kcal" placeholder="Calorii ">
                    </mat-form-field>
                </div>
            </div>
            <div class="mijloc4">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Categorie</mat-label>
                        <mat-select formControlName="Categorie" placeholder="Categorie">
                            <mat-option value="Carne">Carne</mat-option>
                            <mat-option value="Dulciuri">Dulciuri</mat-option>
                            <mat-option value="Fructe">Fructe</mat-option>
                            <mat-option value="Legume">Legume</mat-option>
                            <mat-option value="Lactate">Lactate</mat-option>
                            <mat-option value="Seminte">Seminte</mat-option>
                            <mat-option value="Diverse">Diverse</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Proteine aliment fiert</mat-label>
                        <input matInput formControlName="proteineFiert" placeholder="Proteine aliment fiert">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Carbohidrati aliment fiert</mat-label>
                        <input matInput type="number" formControlName="carbohidratiFiert" placeholder="Carbohidrati aliment fiert ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Grasimi aliment fiert</mat-label>
                        <input matInput type="number" formControlName="grasimiFiert" placeholder="Grasimi aliment fiert ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Zahar aliment fiert</mat-label>
                        <input matInput type="number" formControlName="zaharFiert" placeholder="Zahar aliment fiert ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Calorii aliment fiert</mat-label>
                        <input matInput type="number" formControlName="kcalFiert" placeholder="Calorii aliment fiert ">
                    </mat-form-field>
                </div>
            </div>
            <div class="ultimele4">
                <div>
                    <mat-label>Imagine</mat-label>
                    <input formControlName="imagine" type="file" (change)="onFileChange($event)" required>

                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Proteine aliment prajit</mat-label>
                        <input matInput formControlName="proteinePrajit" placeholder="Proteine aliment prajit">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Carbohidrati aliment prajit</mat-label>
                        <input matInput type="number" formControlName="carbohidratiPrajit" placeholder="Carbohidrati aliment prajit ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Grasimi aliment prajit</mat-label>
                        <input matInput type="number" formControlName="grasimiPrajit" placeholder="Grasimi aliment prajit ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Zahar aliment prajit</mat-label>
                        <input matInput type="number" formControlName="zaharPrajit" placeholder="Zahar aliment prajit ">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Calorii aliment prajit</mat-label>
                        <input matInput type="number" formControlName="kcalPrajit" placeholder="Calorii aliment prajit ">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button (click)="onAdd()" mat-raised-button color="primary">Adauga aliment</button>
        <button (click)="onClose()" mat-raised-button color="primary">Inchide pagina</button>
    </form>



</div>