<p>afiseaza-meniu works!</p>
<div class="afiseazaMeniu">
    <mat-card class="formContent layoutMatcard">
        @for(x of meniu;track x){
        <div class="formContent">
            <mat-card-title>{{x.Nume}}</mat-card-title>
        </div>

        <div class="formContent">
            <mat-card-subtitle>Meniu alimentar</mat-card-subtitle>
        </div>

        <div class=" maxSizeText">
            <mat-card-content><b>Descriere: </b> {{x.descriere}}</mat-card-content>
        </div>


        <p><b>Continutul meniului:</b></p>
        @for(gramaj of gramaje;track gramaj) { @if(x.Id == gramaj.idMeniu){
        <div class="formContent MatCardNormal">

            <mat-card class="formContent matcardContend">
                @for(produs of produse;track produs){ @if(produs.Id == gramaj.idProdus){
                <div class="formContent">
                    <mat-card-title>{{produs.Nume}}</mat-card-title>
                </div>
                <div class="formContent">
                    <mat-card-subtitle>@if(gramaj.prajit){prajit}@else if(gramaj.fiert){fiert} @else {crud}</mat-card-subtitle>
                </div>
                <div class="formContent">
                    <mat-card-subtitle>Gramaj: {{gramaj.gramaj}}</mat-card-subtitle>
                </div>

                <div class="formContent margin"><img class="circle-image" [src]="produs.imagine"></div>

                @if(gramaj.prajit == 1){
                <div class="formContent margin">
                    <table>
                        <tr>
                            <th>Proteine</th>
                            <th>Grasimi</th>
                            <th>Carbohidrati</th>
                            <th>Zahar</th>
                            <th>Kiloalorii</th>
                        </tr>
                        <tr>
                            <th>{{produs.proteinePrajit}}</th>
                            <th>{{produs.grasimiPrajit}}</th>
                            <th>{{produs.carbohidratiPrajit}}</th>
                            <th>{{produs.zaharPrajit}}</th>
                            <th>{{produs.kcalPrajit}}</th>
                        </tr>
                    </table>
                </div>

                } @else if(gramaj.fiert == 1){
                <div>
                    <table>
                        <tr>
                            <th>Proteine</th>
                            <th>Grasimi</th>
                            <th>Carbohidrati</th>
                            <th>Zahar</th>
                            <th>Kiloalorii</th>
                        </tr>
                        <tr>
                            <th>{{produs.proteineFiert}}</th>
                            <th>{{produs.grasimiFiert}}</th>
                            <th>{{produs.carbohidratiFiert}}</th>
                            <th>{{produs.zaharFiert}}</th>
                            <th>{{produs.kcalFiert}}</th>
                        </tr>
                    </table>
                </div>

                } @else if (gramaj.crud == 1) {
                <div>
                    <table>
                        <tr>
                            <th>Proteine</th>
                            <th>Grasimi</th>
                            <th>Carbohidrati</th>
                            <th>Zahar</th>
                            <th>Kiloalorii</th>
                        </tr>
                        <tr>
                            <th>{{produs.proteine}}</th>
                            <th>{{produs.grasimi}}</th>
                            <th>{{produs.carbohidrati}}</th>
                            <th>{{produs.zahar}}</th>
                            <th>{{produs.kcal}}</th>
                        </tr>
                    </table>
                </div>
                } } }
            </mat-card>
        </div>
        } }
        <p><b>Valori nutritionale totale</b> </p>
        <p>Proteine: {{x.proteine}}</p>
        <p>Carbohidrati: {{x.carboohidrati}}</p>
        <p>Grasimi: {{x.grasimi}}</p>
        <p>Zahar: {{x.zahar}}</p>
        <p>Kilocalorii: {{x.kcal}}</p>
        }
    </mat-card>
</div>