<p>generate-antrenament works!</p>
<div class="antrenament">
    <mat-card class="MatCardContent">
        <form [formGroup]="newAntrenament">
            <div class="formContent">
                <mat-form-field appearance="fill">
                    <mat-label>Nume antrenament</mat-label>
                    <input matInput formControlName="Nume" placeholder="Introduceți numele meniului ">
                </mat-form-field>
            </div>
            <div class="formContent">
                <mat-form-field appearance="fill">
                    <mat-label>Descriere</mat-label>
                    <textarea formControlName="Descriere" matInput rows="5"></textarea>
                </mat-form-field>
            </div>
            @if(user[0].Antrenor == 1){ @if(isAntrenor == 0){
            <div class="formContent"><button mat-flat-button color="primary" (click)="antrenorMode()">Doresc sa adaug un antrenament unui client</button></div> } @else {
            <div class="formContent"><button mat-flat-button color="primary" (click)="userMode()">Doresc sa imi adaug mie un antrenament</button></div>}}
            <br> @if(isAntrenor == 1){
            <div class="formContent">
                <mat-form-field appearance="fill">
                    <mat-label>Client</mat-label>
                    <mat-select formControlName="Client" placeholder="Alege client">
                        @for(client of clienti; track client){
                        <mat-option value="{{client.Id}}">{{client.Nume}} {{client.Prenume}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            } @for(exercitiu of exercitiiSelectate;track exercitiu){
            <mat-card>
                <div class="formContent">
                    <mat-card-title>Nume exercitiu</mat-card-title>
                </div>
                <div class="formContent">
                    <mat-card-subtitle>{{exercitiu.Nume}}</mat-card-subtitle>
                </div>
                <div>

                    <div class="formContent">Selecteaza tipul de exercitiu</div>
                    <div class="formContent buttonSpace"><button mat-flat-button color="primary" (click)="isAnduranta(exercitiu)">Anduranta</button><button mat-flat-button color="primary" (click)="isGreutati(exercitiu)">Greutati </button> </div>
                    <div class="formContent">
                        @if(exercitiu.anduranta == 1){
                        <table>
                            <tr>
                                <th>Cat timp vei practica exercitiul</th>
                            </tr>
                            <tr>
                                <th>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Timp petrecut realizand exercitiul</mat-label>
                                        <input matInput type="number" formControlName="{{exercitiu.Nume}}timp" placeholder="Introduceți cantitatea ">
                                    </mat-form-field>
                                </th>
                            </tr>
                        </table>
                        } @else if (exercitiu.greutati == 1) {
                        <table>
                            <tr>
                                <th>Numarul de serii</th>
                                <th>Numarul de reperati per serii</th>
                            </tr>
                            <tr>
                                <th>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Numar de serii</mat-label>
                                        <input matInput type="number" formControlName="{{exercitiu.Nume}}serii" placeholder="Introduceți cantitatea ">
                                    </mat-form-field>
                                </th>
                                <th>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Numar de repetari per serie</mat-label>
                                        <input matInput type="number" formControlName="{{exercitiu.Nume}}repetari" placeholder="Introduceți cantitatea ">
                                    </mat-form-field>
                                </th>
                            </tr>
                        </table>
                        }@else {
                        <div class="formContent warningAntrenament">
                            <p>Nu ai ales tipul exercitiului, te rog sa selectezi unul</p>
                        </div>}
                    </div>
                </div>
                <div class="formContent buttonSpace">
                    <button mat-flat-button color="primary" (click)="onStergeexercitiu(exercitiu)">Sterge exercitiu</button>
                </div>
            </mat-card>
            }
        </form>
        <div class="buton">
            <button mat-flat-button color="primary" (click)="salveazaAntrenament()">Salveaza Antrenament</button>
        </div>
    </mat-card>
</div>