<p>generate-meniu works!</p>
<div class="meniu">
    <mat-card class="MatCardContent">
        <form [formGroup]="newMeniu">
            <div class="formContent">
                <mat-form-field appearance="fill">
                    <mat-label>Nume meniu</mat-label>
                    <input matInput formControlName="nume" placeholder="Introduceți numele meniului ">
                </mat-form-field>
            </div>
            <div class="formContent">
                <mat-form-field appearance="fill">
                    <mat-label>Descriere</mat-label>
                    <textarea formControlName="descriere" matInput rows="5"></textarea>
                </mat-form-field>
            </div>
            @if(user[0].Antrenor == 1){ @if(isAntrenor == 0){
            <div class="formContent"><button mat-flat-button color="primary" (click)="antrenorMode()">Doresc sa adaug un meniu unui client</button></div> } @else {
            <div class="formContent"><button mat-flat-button color="primary" (click)="userMode()">Doresc sa imi adaug mie un meniu</button></div>}}
            <br> @if(isAntrenor == 1){
            <div class="formContent">
                <mat-form-field appearance="fill">
                    <mat-label>Client</mat-label>
                    <mat-select formControlName="Client" placeholder="Alege client">
                        @for(client of clienti; track client){
                        <mat-option value="{{client.Id}}">{{client.Nume}} {{client.Prenume}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            } @for(aliment of AlimenteSelectate;track aliment){
            <mat-card class="MatCardNormal">
                <div class="formContent">
                    <mat-card-title>Nume aliment</mat-card-title>
                </div>
                <div class="formContent">
                    <mat-card-subtitle>{{aliment.Nume}}</mat-card-subtitle>
                </div>
                <div>
                    <div class="formContent">
                        <table>
                            <tr>
                                <th>Selecteaza gramajul</th>
                                <th>Mod de preparare</th>
                            </tr>
                            <tr>
                                <th>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Gramaj</mat-label>
                                        <input matInput type="number" formControlName="{{aliment.Nume}}" placeholder="Introduceți cantitatea ">
                                    </mat-form-field>
                                </th>
                                <th>
                                    @if(aliment.prajit == 1){
                                    <button mat-flat-button color="primary">Prajit</button> }@else if (aliment.fiert == 1) {
                                    <button mat-flat-button color="primary">Fiert</button> }@else {<button mat-flat-button color="primary">Crud</button>}</th>
                            </tr>
                        </table>
                    </div>
                    <div class="buttonSpace formContent"><button mat-flat-button color="primary" (click)="isCrud(aliment)">Crud</button><button mat-flat-button color="primary" (click)="isFiert(aliment)">Fiert </button><button mat-flat-button color="primary" (click)="isPrajit(aliment)">Prajit </button></div>

                    <div class="buttonSpace formContent">
                        <button mat-flat-button color="primary" (click)="onStergeAliment(aliment)">Sterge aliment</button>
                    </div>
                </div>
            </mat-card>
            }
        </form>
        <div class="formContent">
            <h1><b>Informatiile nutritionale ale meniului:</b></h1>
        </div>
        <div class="formContent">
            <table>
                <tr>
                    <th>Total proteine</th>
                    <th>Total carbohidrati</th>
                    <th>Total zahar</th>
                    <th>Total grasimi</th>
                    <th>Total calorii</th>
                </tr>
                <tr>
                    <th>{{totalProteine}}</th>
                    <th>{{totalCarbohidrati}}</th>
                    <th>{{totalZahar}}</th>
                    <th>{{totalGrasimi}}</th>
                    <th>{{totalCalorii}}</th>
                </tr>
            </table>
        </div>
        <div class="buton">
            <button mat-flat-button color="primary" (click)="salveazaMeniu()">Salveaza Meniu</button>
        </div>
    </mat-card>
</div>