<p>antrenori works!</p>

<div>
    <h1>Acestia sunt antrenorii</h1>
</div>
<div class="container">
    @for(x of antrenori;track x){
    <div class="marginMatcard pozitieMatCard">
        <mat-card class="matcardContent marimeMatcard">
            <div class="matcardContent">
                <mat-card-title>Antrenor</mat-card-title>
                <mat-card-subtitle>{{x.Nume}} {{x.Prenume}}</mat-card-subtitle>
                <div><img class="circle-image" [src]="x.imagine"></div>
                <div class="pozitieMatCard buttonSpace">@if(user[0].idAntrenor == 0 || user[0].idAntrenor == null ){<button mat-flat-button color="primary" (click)="onAdaugaAntrenor(user[0],x.Id)">Adauga antrenor</button>} @if(user[0].idAntrenor > 0 && user[0].idAntrenor == x.Id){
                    <button mat-flat-button color="primary" (click)="onStergeAntrenor(user[0])">Sterge Antrenor</button>}</div>
            </div>
        </mat-card>
    </div>
    }
</div>