/* Containerul flex */

.container {
    display: flex;
    flex-wrap: wrap;
    /* Permite elementelor să se împacheteze pe linii noi */
    justify-content: center;
    /* Centrează elementele pe fiecare rând */
}


/* Elementele flex */

.marginMatcard {
    flex: 1 1 calc(33.333% - 20px);
    /* Face ca fiecare element să ocupe aproximativ 1/3 din lățimea containerului, minus spațiul de gap */
    box-sizing: border-box;
    margin: 10px;
    /* Spațiu între elemente */
}

.matcardContent {
    text-align: center;
    padding: 10px;
    /* Adaugă padding în jurul textului */
    border-radius: 10px;
}

.circle-image {
    width: 360px;
    /* sau orice dimensiune preferi */
    height: 240px;
    /* trebuie să fie pătrat pentru a obține un cerc perfect */
    object-fit: cover;
    justify-content: center;
    /* Poziționează butoanele în dreapta */
    align-items: center;
}


/* Optional: stiluri suplimentare pentru a ajusta marginile și padding-ul */

.mat-card {
    margin: 0;
    padding: 0;
}

.marimeMatcard {
    height: auto;
    width: auto;
}

.pozitieMatCard {
    display: flex;
    justify-content: center;
}

.doubleButton button {
    margin: 0 5px;
    /* Asigură margini egale între butoane */
    flex: 1;
    /* Face butoanele să ocupe spațiu în mod egal */
    max-width: 200px;
    /* Opțional: setează o lățime maximă pentru butoane */
}

.buttonSpace {
    gap: 8px;
    margin: 10px;
}

.MatCard {
    display: flex;
    justify-content: center;
    /* Poziționează butoanele în dreapta */
    align-items: center;
    /* Aliniază butoanele pe axa verticală */
    margin-top: auto;
    /* Asigură poziționarea butoanelor în partea de jos */
}

.sizeButton {
    width: 25px;
    height: 40px;
}