<p>Admin Dashboard Works :D !</p>
<div>
    <h1>Filtru de useri</h1>
    <div class="MatCard buttonSpace buttonSpace">
        <button mat-flat-button color="primary" (click)="onFiltruUtilizatori(0)">Toti utilizatorii</button>
        <button mat-flat-button color="primary" (click)="onFiltruUtilizatori(1)">Utilizatori simpli</button>
        <button mat-flat-button color="primary" (click)="onFiltruUtilizatori(2)">Antrenori</button>
        <button mat-flat-button color="primary" (click)="onFiltruUtilizatori(3)">Admin</button>
    </div>
</div>
<div class="container">
    @if(filtruUtilizatori == 0) { @for(user of users;track user){
    <div class="marginMatcard pozitieMatCard">
        <mat-card class="matcardContent marimeMatcard">
            <div class="matcardContent">
                <div (click)="navigateTo(user.Id)">
                    <mat-card-title>Utilizator</mat-card-title>
                    <mat-card-subtitle>{{user.Nume}} {{user.Prenume}}</mat-card-subtitle>
                    <mat-card-subtitle>@if(user.Admin){Admin } @if(user.Antrenor){Antrenor } @else{Utilizator }</mat-card-subtitle>
                    <div><img class="circle-image" [src]="user.imagine"></div>
                </div>
                <div class="pozitieMatCard buttonSpace">
                    @if(!user.Admin){
                    <button mat-flat-button color="primary" (click)="onadaugaAdmin(user)">Adauga Admin</button>} @if(!user.Antrenor){
                    <button mat-flat-button color="primary" (click)="onAdaugaRolAntrenor(user)">Adauga Antrenor</button>} @if(user.Antrenor){
                    <button mat-flat-button color="primary" (click)="onStergeRolAntrenor(user)">Sterge Antrenor</button>} @if(!user.Admin){
                    <button mat-flat-button color="primary" (click)="onDeleteUser(user.Id)">Stergere Cont</button>}
                </div>
            </div>
        </mat-card>
    </div>
    } } @else { @if(filtruUtilizatori == 1) { @for(user of utilizatori;track user){
    <div class="marginMatcard pozitieMatCard">
        <mat-card class="matcardContent marimeMatcard">
            <div class="matcardContent">
                <div (click)="navigateTo(user.Id)">
                    <mat-card-title>Utilizator</mat-card-title>
                    <mat-card-subtitle>{{user.Nume}} {{user.Prenume}}</mat-card-subtitle>
                    <mat-card-subtitle>@if(user.Admin){Admin } @if(user.Antrenor){Antrenor } @else{Utilizator }</mat-card-subtitle>
                    <div><img class="circle-image" [src]="user.imagine"></div>
                </div>
                <div class="pozitieMatCard buttonSpace">
                    @if(!user.Admin){
                    <button mat-flat-button color="primary" (click)="onadaugaAdmin(user)">Adauga Admin</button>} @if(!user.Antrenor){
                    <button mat-flat-button color="primary" (click)="onAdaugaRolAntrenor(user)">Adauga Antrenor</button>} @if(user.Antrenor){
                    <button mat-flat-button color="primary" (click)="onStergeRolAntrenor(user)">Sterge Antrenor</button>} @if(!user.Admin){
                    <button mat-flat-button color="primary" (click)="onDeleteUser(user.Id)">Stergere Cont</button>}
                </div>
            </div>
        </mat-card>
    </div>
    } } @else { @if(filtruUtilizatori == 2) { @for(user of antrenori;track user){
    <div class="marginMatcard pozitieMatCard">
        <mat-card class="matcardContent marimeMatcard">
            <div class="matcardContent">
                <div (click)="navigateTo(user.Id)">
                    <mat-card-title>Utilizator</mat-card-title>
                    <mat-card-subtitle>{{user.Nume}} {{user.Prenume}}</mat-card-subtitle>
                    <mat-card-subtitle>@if(user.Admin){Admin } @if(user.Antrenor){Antrenor } @else{Utilizator }</mat-card-subtitle>
                    <div><img class="circle-image" [src]="user.imagine"></div>
                </div>
                <div class="pozitieMatCard buttonSpace">
                    @if(!user.Admin){
                    <button mat-flat-button color="primary" (click)="onadaugaAdmin(user)">Adauga Admin</button>} @if(!user.Antrenor){
                    <button mat-flat-button color="primary" (click)="onAdaugaRolAntrenor(user)">Adauga Antrenor</button>} @if(user.Antrenor){
                    <button mat-flat-button color="primary" (click)="onStergeRolAntrenor(user)">Sterge Antrenor</button>} @if(!user.Admin){
                    <button mat-flat-button color="primary" (click)="onDeleteUser(user.Id)">Stergere Cont</button>}
                </div>
            </div>
        </mat-card>
    </div>
    } } @else { @for(user of admins;track user){
    <div class="marginMatcard pozitieMatCard">
        <mat-card class="matcardContent marimeMatcard">
            <div class="matcardContent">
                <div (click)="navigateTo(user.Id)">
                    <mat-card-title>Utilizator</mat-card-title>
                    <mat-card-subtitle>{{user.Nume}} {{user.Prenume}}</mat-card-subtitle>
                    <mat-card-subtitle>@if(user.Admin){Admin } @if(user.Antrenor){Antrenor } @else{Utilizator }</mat-card-subtitle>
                    <div><img class="circle-image" [src]="user.imagine"></div>
                </div>
                <div class="pozitieMatCard buttonSpace">
                    @if(!user.Admin){
                    <button mat-flat-button color="primary" (click)="onadaugaAdmin(user)">Adauga Admin</button>} @if(!user.Antrenor){
                    <button mat-flat-button color="primary" (click)="onAdaugaRolAntrenor(user)">Adauga Antrenor</button>} @if(user.Antrenor){
                    <button mat-flat-button color="primary" (click)="onStergeRolAntrenor(user)">Sterge Antrenor</button>} @if(!user.Admin){
                    <button mat-flat-button color="primary" (click)="onDeleteUser(user.Id)">Stergere Cont</button>}
                </div>
            </div>
        </mat-card>
    </div>
    } } } }
</div>